[submodule "lg_pkgs/lgsvl_msgs"]
	path = lgsvl_pkgs/lgsvl_msgs
	url = https://github.com/lgsvl/lgsvl_msgs.git
	branch = apollo_3_5
[submodule "modules/map/data/san_francisco"]
	path = modules/map/data/san_francisco
	url = https://github.com/lgsvl/apollo-simulator-map.git
